@import 'colors';

.under_construction {
  background-color: red;
  color: yellow;
  font-size: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;

  a {
    text-decoration: none;
  }
}

body {
  margin: 0;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  z-index: 1;
  background-color: $myblack;
  color: $mywhite;

  nav {
    width: 100%;
    
    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding-inline-start: 0;

      li {
        width: 25%;

        a {
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $mywhite;
          border-left: 1px solid $mywhite;
          border-right: 1px solid $mywhite;
        }

        a:hover {
          background-color: $mygreen;
          color: $myblack;
        }
      }

      .logo {
        width: 3rem;
        background-color: $mywhite;

        a:hover {
          background-color: $mywhite;
        }

        img {
          width: 3rem;
        }
      }
    }
  }
}

.home {

  &__padding {
    height: 5rem;
  }

  .greeting {
    background-image: url('/img/leaf.png');
    background-size: 100vw auto;
    background-repeat: no-repeat;
    height: 60vh;
    position: relative;

    &__text {

      position: absolute;
      top: 20%;
      right: 10%;
      
      font-size: 2rem;
      color: $mywhite;
      text-align: center;

      .name {
        color: $mygreen;
      }
    }    
  }

  .about {
    background-color: $mygrey;
    height: calc(40vh - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;

    &__text{
      font-size: 1.2rem;
      text-align: center;
    }
  }
}

.contact_me {
  background-color: $mygrey;
  height: 100vh;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 2rem;
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      margin: 3rem 0;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      color: $myblack;

      img {
        width: 100px;
        margin: 0 5rem 0 2rem;
      }
    }
  }  
}

footer {
  height: 3rem;
  background-color: $myblack;
  color: $mywhite;
  display: flex;
  justify-content: center;
  align-items: center;
  //text-align: center;
}