@import 'colors';

.under_construction {
  background-color: red;
  color: yellow;
  font-size: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;

  a {
    text-decoration: none;
  }
}

body {
  margin: 0;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  z-index: 1;
  background-color: $myblack;
  color: $mywhite;

  nav {
    width: 100%;
    
    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding-inline-start: 0;

      li {
        width: 25%;

        a {
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $mywhite;
          border-left: 1px solid $mywhite;
          border-right: 1px solid $mywhite;
        }

        a:hover {
          background-color: $mygreen;
          color: $myblack;
        }
      }

      .logo {
        width: 3rem;
        background-color: $mywhite;

        a:hover {
          background-color: $mywhite;
        }

        img {
          width: 3rem;
        }
      }
    }
  }
}

.home {

  &__padding {
    height: 5rem;
  }

  .greeting {
    background-image: url('/img/leaf.png');
    background-size: 100vw auto;
    background-repeat: no-repeat;
    height: 60vh;
    position: relative;

    &__text {

      position: absolute;
      top: 20%;
      right: 10%;
      
      font-size: 2rem;
      color: $mywhite;
      text-align: center;

      .name {
        color: $mygreen;
      }
    }    
  }

  .about {
    background-color: $mygrey;
    height: calc(40vh - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;

    &__text{
      font-size: 1.2rem;
      text-align: center;
    }
  }
}

.contact_me {
  background-color: $mydarkgreen;
  color: $mywhite;
  height: 100vh;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .line {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;

      [type="text"] {
        width: 49%;
        background-color: $mydarkgreen;
        border: none;
        border-bottom: 1px solid $mywhite;
            
        &::placeholder {
          color: $mywhite;
        }

        &:focus {
          border: none;
          border-bottom: 1px solid $mywhite;
          outline: none;
        }
      }
    }

    label {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      textarea {
        margin-top: 0.5rem;
        &:focus {
          outline: none;
        }
      }
    }

    [type="submit"] {
      width: 100%;
      background-color: $myblack;
      color: $mywhite;
      border: none;
      padding: 1rem;
      &:focus {
        outline: none;
      }
    }
  }

  .find {
    width: 100%;
    background-color: $myblack;
    color: $mywhite;
    text-align: center;
    padding: 2rem 0 2rem 0;
    margin-top: 3rem;

    .links {
      display: flex;
      justify-content: center;
    }  

    img {
        width: 100px;
        margin: 0 3rem;
    }
  }
}

footer {
  background-color: $mygrey;
  text-align: center;
  padding: 2rem;
}