@import 'colors';

.under_construction {
  background-color: red;
  color: yellow;
  font-size: 10rem;
  text-align: center;
  padding: 2rem;
  padding-top: 4rem;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;

  a {
    text-decoration: none;
  }
}

body {
  margin: 0;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  z-index: 1;
  background-color: $myblack;
  color: $mywhite;

  nav {
    display: flex;
    flex-grow: 1;

    .logo {
      border: none;
      width: auto;

      img {
        width: 3rem;
      }
    }

    a {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $myblack;
      color: $mywhite;
      width: 25%;
      border-left: 1px solid $mywhite;
      border-right: 1px solid $mywhite;
    }

    a:hover {
      background-color: $mygreen;
      color: $myblack;
    }
  }
}

main {
  margin-top: 5rem;
}

.home {

  .greeting {
    background-image: url('/img/leaf.png');
    background-size: 100vw auto;
    height: 60vh;
    position: relative;

    .greeting__text {

      position: absolute;
      top: 20%;
      right: 10%;
      
      font-size: 2rem;
      color: $mywhite;
      text-align: center;

      .name {
        color: $mygreen;
      }
    }    
  }

  .about {
    background-color: $mygrey;
    height: calc(40vh - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;

    .about__text{
      font-size: 1.2rem;
      text-align: center;
    }
  }
}